<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="google.architecture.girls">

    <application>

        <activity android:name=".ActivityGirls"></activity>

        <activity android:name=".ActivityDynamicGirls"></activity>

    </application>

</manifest>